body {
    font-style: italic;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

footer {
    max-width: 768px;
    margin: 0 auto;
}

h1 {
    margin-top: 15%;
    margin-left: 32%;
    margin-bottom: 10%;
}

ul.links li {
    display: inline-block;
}
