body {
    font-style: italic;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    padding-bottom: 96px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)), url("../images/background.jpg");
    background-position: center;
    position: relative;
}

@media screen and (min-width: 405) {
    padding-bottom: 76px;
}

main {
    max-width: 768px;
    margin: 0 auto;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    margin: 0;
}

ul.links li {
    display: inline-block;
    margin: 0 10px;
}

ul {
    text-align: center;
    margin: 0 auto;
    max-width: 768px;
}

#intro {
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

.section-padding {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

header {
    background-color: #000000;
    color: #FFFFFF;
}

dl {
    margin: 0;
}

footer {
    background-color: #000000;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-link {
    color: #FFFFFF;
}
